{% extends "admin/index.html" %}

{% block content %}
<script>
    var getRefresha = function() {
        var xmlHttp = null;

        xmlHttp = new XMLHttpRequest();
        xmlHttp.open( "GET", "/rotatelogos/refresha", false );
        xmlHttp.send( null );
        document.getElementById("status_field").innerHTML = xmlHttp.responseText;
    };
</script>


<div id="status_field"></div>
{{block.super}}
<div class="g-d-c">
    <div class="g-d-12 g-d-f">
        
        <!-- Add link to filebrowser and Refresh button-->
        <div class="grp-module" id="app_rotatelogos">
            <h2><a href="#" class="grp-section">Rotate Logos</a></h2>
            
            <div class="grp-row">
                <a href="/admin/filebrowser/browse" class="grp-section"><strong>Go to filebrowser</strong></a>
            </div>

            <div class="grp-row"> 
                <a href="#"  onclick="getRefresha()" class="grp-section"><strong>Refresh logos</strong></a>
            </div>
        </div>
    </div>
    
</div>
{% endblock content %}
    


