<style>
@font-face {
    font-family: 'b2sq';
    src: url('/static/font/b2sq.ttf');
}
#spons {
	font-family: 'b2sq', sans-serif;
	font-weight: 400;
}

#spons img {
	max-width: 240px;
	max-height: 100px;
	margin: 40px;
}
#header {
	margin-top: 20px;
	font-size: 5.0em;
	color: #7A7AFF;
}
</style>
<div id="spons">
<center><h1 id="header">Årsfesten sponsras av</h2>

	<img src="{{ STATIC_URL }}festreklam/thermo14.jpg" alt="thermoscientific" />


	<img src="{{ STATIC_URL }}festreklam/ahola14.png" alt="Ahola" />


	<img src="{{ STATIC_URL }}festreklam/attracs14.png" alt="Attracs" />


	<img src="{{ STATIC_URL }}festreklam/futurice.png" alt="futurice" />


	<img src="{{ STATIC_URL }}festreklam/tfif14.png" alt="tfif" />


	<img src="{{ STATIC_URL }}festreklam/LR14.jpg" alt="Lloyd's Register" />
</center>
</div>
