body{
  text-align: center;
  font-family: sans-serif;
  font-weight: 100;
}

h1{
  color: #b11e3a;
  font-weight: bold;
  font-size: 10em;
  margin: 1em 0em 0.2em;
}

#clockdiv{
    font-family: sans-serif;
    color: #b11e3a;
    display: inline-block;
    font-weight: bold;
    text-align: center;
    font-size: 6em;
}

#clockdiv > div{
    padding: 10px;
    border-radius: 3px;
    display: inline-block;
}

#clockdiv div > span{
    padding: 0em 0.8em;
    border-radius: 3px;
    display: inline-block;
}

.smalltext{
    padding-top: 5px;
    font-size: 0.5em;
}