#reittiopas-table {
  width: 100%;
}

#reittiopas-table thead td{
	font-size: 2.6em;
}

#reittiopas-table td {
	font-size: 2em;
	padding: 5px 15px 0 5px;
}

#reittiopas-table tbody tr:nth-child(even) {
	background: #f4f4f4;
}